PyYAML==3.11
arrow==0.4.2
backports.ssl-match-hostname==3.4.0.2
boto==2.27.0
botocore==0.42.0
cssmin==0.2.0
jmespath==0.4.0
python-dateutil==2.2
rjsmin==1.0.9
six==1.6.1
tornado==3.2
webassets==0.9
wsgiref==0.1.2
