PyYAML==3.10
arrow==0.4.2
backports.ssl-match-hostname==3.4.0.2
boto==2.25.0
botocore==0.33.0
cssmin==0.2.0
jmespath==0.2.1
ply==3.4
python-dateutil==2.2
rjsmin==1.0.8
six==1.5.2
tornado==3.2
webassets==0.9
wsgiref==0.1.2
