<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="EC2 spot price graphs">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EC2 spot price graphs</title>
    <link rel="shortcut icon" href="{{ static_url("favicon.ico") }}">
    {% for u in asset_env['css_screen'].urls() %}
    <link href="{{ static_url(u) }}" rel="stylesheet">
    {% end %}
  </head>
  <body>
    {% block content %}
    {% end %}
    {% for u in asset_env['js_app'].urls() %}
    <script src="{{ static_url(u) }}"></script>
    {% end %}
    {% if gauges_site_id is not None %}
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '{{ gauges_site_id }}');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
    {% end %}
    {% block scripts %}
    {% end %}
  </body>
</html>
