<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="EC2 spot price graphs">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EC2 spot price graphs</title>
    <link rel="shortcut icon" href="{{ static_url("favicon.ico") }}">
    <link href="{{ static_url("vendor/bootstrap-2.3.0/css/bootstrap.css") }}" rel="stylesheet">
    <link href="{{ static_url("vendor/bootstrap-2.3.0/css/bootstrap-responsive.css") }}" rel="stylesheet">
    <link href="{{ static_url("vendor/nvd3-0.0.1a/css/nv.d3.css") }}" rel="stylesheet">
    <link href="{{ static_url("css/base.css") }}" rel="stylesheet">
  </head>
  <body>
    {% block content %}
    {% end %}
    <script src="{{ static_url("vendor/jquery-1.9.1/js/jquery.js") }}"></script>
    <script src="{{ static_url("vendor/bootstrap-2.3.0/js/bootstrap.js") }}"></script>
    <script src="{{ static_url("vendor/d3-3.0.6/js/d3.js") }}"></script>
    <script src="{{ static_url("vendor/nvd3-0.0.1a/js/nv.d3.js") }}"></script>
    {% if gauges_site_id is not None %}
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '{{ gauges_site_id }}');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
    {% end %}
    {% block scripts %}
    {% end %}
  </body>
</html>
